@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

html {
	font: 16px/1.8 'Raleway', Helvetica, sans-serif;
}

body {
	background-color: rgb(169,215,209);
}

header,
#form-descrip {
	text-align: center;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul li {
	margin-bottom: 5px;
}

input[type="checkbox"],
input[type="radio"] {
	margin-left: 0;
}

#main {
	width: 60%;
	max-width: 960;
	margin: 0 auto;
	padding: 20px;
	border-radius: 5px;
	background-color: rgb(250,250,250);
}

#form-container > * {
	float: left;
	width: calc(50% - 10px);
	margin-bottom: 20px;
}


#submit {
	display: block;
	float: none;
	clear: both;
	width: 100px;
	height: 40px;
	margin: 0 auto;
	border-radius: 5px;
	border-style: none;
	font-size: 1.1em;
	color: white;
	background-color: rgb(89,172,224);
}

#input-name,
#input-email,
#input-age,
#textarea,
#select-like,
#select-role {
	width: 60%;
	padding: 5px;
	border-radius: 2px;
	border-style: none;
	border: 1px solid rgb(192,192,192);
}

#select-like,
#select-role {
	width: 35%;
	padding: 8px;
}

#textarea {
	resize: vertical;
}

.column-first {
	text-align: right;
	margin-right: 20px;
}
