@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

html {
	font: 16px/1.8 'Raleway', Helvetica, sans-serif;
}

body {
	min-width: 350px;
	background-color: rgb(169,215,209);
}

header,
#form-descrip {
	text-align: center;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul li {
	margin-bottom: 5px;
}

input[type="checkbox"],
input[type="radio"] {
	margin-left: 0;
}

#main {
	width: 60%;
	max-width: 960;
	margin: 0 auto;
	padding: 20px;
	border-radius: 5px;
	background-color: rgb(250,250,250);
}

#form-container {
    display: flex;
    flex-wrap: wrap;

}

#form-container > * {
	width: calc(50% - 10px);
	margin-bottom: 20px;
	flex: auto;

}

#form-container > div:last-child {
	margin-bottom: 0;
}

#submit {
	display: block;
	width: 100px;
	height: 40px;
	margin: 0 auto;
	border-radius: 5px;
	border-style: none;
	font-size: 1.1em;
	color: white;
	background-color: rgb(89,172,224);
}

#input-name,
#input-email,
#input-age,
#textarea,
#select-like,
#select-role {
	width: 60%;
	padding: 5px;
	border-style: none;
	border: 1px solid rgb(192,192,192);
	border-radius: 2px;
}


#select-like,
#select-role {
	width: 140px;
	padding: 8px;
}

#textarea {
	resize: vertical;
}

.column-first {
	margin-right: 20px;
	text-align: right;
}

@media screen and (max-width: 770px) {
    #form-container > * {
    	width: 100%;
    	margin-bottom: 10px;
    }

	.column-first {
		text-align: left;
	}
}

@media screen and (max-width: 500px) {
	#input-name,
	#input-email,
	#input-age,
	#textarea {
		width: 80%;
	}
}
